<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>github</id>
            <username>$choozhenhui</username>
            <password>$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</password>
        </server>
    </servers>

</settings>

