<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github</id>
      <username>choozhenhui</username>
      <password>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</password>
    </server>
  </servers>

</settings>
